<div>
    <app-widget-area></app-widget-area>
</div>

<br>
<mat-divider></mat-divider>
<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <mat-card fxFlex="25">
        <app-widget-card></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card></app-widget-card>
    </mat-card>

</div>
<br>
<mat-divider></mat-divider>
<br>
<div>
    <div>Table</div>
    <div>Pie chart</div>
</div>